@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
  Note: The styles for this gradient grid background is heavily inspired by the creator of this amazing site (https://dub.sh) – all credits go to them! 
*/

body {
  background-color: #161616; /* Use your desired color and opacity values */
}


.main {
  width: 100vw;
  background-color: black;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px rgb(116, 116, 116); 
  border-radius: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(56, 56, 56); 
  border-radius: 10px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(72, 72, 72); 
}

/* .main:before {
  background: radial-gradient(circle, rgb(5, 5, 5) 0, #050505 100%);
 
  content: "";
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
} */

/* .main:after {
  content: "";
  background-image: url("/assets/images/grid.svg");
  z-index: 10;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0.5;
  filter: invert(1);
}  */

.gradient {
  height: fit-content;
  z-index: 3;
  width: 100%;
  max-width: 640px;
  background-image: radial-gradient(
      at 27% 37%,
      hsla(215, 98%, 61%, 1) 0px,
      transparent 0%
    ),
    radial-gradient(at 97% 21%, hsla(125, 98%, 72%, 1) 0px, transparent 50%),
    radial-gradient(at 52% 99%, hsla(354, 98%, 61%, 1) 0px, transparent 50%),
    radial-gradient(at 10% 29%, hsla(256, 96%, 67%, 1) 0px, transparent 50%),
    radial-gradient(at 97% 96%, hsla(38, 60%, 74%, 1) 0px, transparent 50%),
    radial-gradient(at 33% 50%, hsla(222, 67%, 73%, 1) 0px, transparent 50%),
    radial-gradient(at 79% 53%, hsla(343, 68%, 79%, 1) 0px, transparent 50%);
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  filter: blur(100px) saturate(150%);
  top: 80px;
  opacity: 0.15;
}

@media screen and (max-width: 640px) {
  .main {
    padding: 0;
  }
}

/* Tailwind Styles */

.app {
  @apply z-10 ;
}

.head_text {
  @apply text-5xl font-extrabold leading-[1.15] text-white sm:text-6xl;
}

.orange_gradient {
  @apply bg-gradient-to-r from-indigo-500 via-fuchsia-600 to-violet-600 bg-clip-text text-transparent;
}

.green_gradient {
  @apply bg-gradient-to-r from-green-400 to-green-500 bg-clip-text text-transparent;
}

.blue_gradient {
  @apply bg-gradient-to-r from-blue-600 to-cyan-600 bg-clip-text text-transparent;
}

.desc {
  @apply mt-5 text-lg text-gray-400 sm:text-xl max-w-2xl;
}
.desc_openai {
  @apply mb-2 mt-3 lg:mt-4 px-2 pb-1 text-center text-lg text-white bg-gradient-to-tr from-purple-400 via-fuchsia-500 to-pink-500 sm:text-xl rounded-lg inline-block outline outline-offset-2 outline-1;
}

.search_input {
  @apply block w-full rounded-md border border-gray-200 bg-white py-2.5 font-satoshi pl-5 pr-12 text-sm shadow-lg font-medium focus:border-black focus:outline-none focus:ring-0;
}

.copy_btn {
  @apply w-7 h-7 rounded-full bg-gray-200 shadow-[inset_10px_-50px_94px_0_rgb(199,199,199,0.2)] backdrop-blur flex justify-center items-center cursor-pointer;
}

.glassmorphism {
  @apply rounded-xl border border-gray-200 bg-white/20 shadow-[inset_10px_-50px_94px_0_rgb(199,199,199,0.2)] backdrop-blur p-5;
}

.prompt_layout {
  @apply space-y-6 py-8 sm:columns-2 sm:gap-6 xl:columns-3;
}

/* Feed Component */
.feed {
  @apply mt-16 mx-auto w-full max-w-xl flex justify-center items-center flex-col gap-2;
}

/* Form Component */
.form_textarea {
  @apply w-full flex rounded-lg h-[140px] mt-2 p-3 text-sm text-white outline-0;
}

.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.openai_textarea {
  @apply w-full flex h-10 py-3 pl-4 pr-16 rounded-xl text-sm text-gray-200 outline-0 bg-blackish bg-opacity-90;
}

.form_input {
  @apply w-full flex rounded-lg mt-2 p-3 text-sm text-white outline-0;
}

/* Nav Component */
.logo_text {
  @apply text-xl font-satoshi font-semibold bg-gradient-to-r from-indigo-500 via-fuchsia-600 to-violet-600 bg-clip-text tracking-wide text-transparent;
}

.dropdown {
  @apply absolute -right-2 top-12 w-full py-4 px-3 rounded-lg text-gray-100 bg-blackish min-w-[310px] flex flex-col gap-3 ;
}
.dropdown_large {
  @apply absolute right-12 top-16 w-20 py-4 px-4 rounded-lg text-gray-100 bg-blackish min-w-[325px] flex flex-col gap-3 ;
}

.dropdown_link {
  @apply text-sm font-inter text-gray-100 hover:text-gray-500 font-bold text-right;
}

/* PromptCard Component */
.prompt_card {
  @apply flex-1 break-inside-avoid rounded-lg border border-gray-300 bg-white bg-clip-padding p-4 backdrop-blur-lg backdrop-filter md:w-[360px] w-full h-fit;
}

.flex-center {
  @apply flex justify-center items-center;
}

.flex-start {
  @apply flex justify-start items-start;
}

.flex-end {
  @apply flex justify-end items-center;
}

.flex-between {
  @apply flex justify-between items-center;
}


/* For Feed Loading */
@keyframes blink {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.animate-blink {
  animation: blink 1s infinite;
}
